.container {
	max-width: 600px;
	display: grid;
	grid-template-columns: 290px 290px;
	grid-template-rows: 3rem 3rem 3rem 3rem 3rem;

	margin: auto;

	grid-gap: 1rem;
}

.advert-image {
	grid-row: span 4;
	grid-column: 1;
}

.advertTags {
	grid-column: 2;
	grid-row: 4;
}
