.filterForm {
	display: grid;
	width: 100%;
	margin: auto;
	position: fixed;
	height: 120px;
	top: 64px;

	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: 3.5rem 2.5rem;
	grid-gap: 0.5rem;
	background-color: var(--little-grey-color);
}

.filter-nameField {
	max-height: 2rem;
	grid-row: 1;
	grid-column: 1 / 4;
}

.filterForm > .tags-list {
	grid-row: 2;
	grid-column: 3/ 5;
	align-self: center;
}

button {
	grid-row: 2;
	grid-column: 5;
	justify-self: center;
	height: 2.5rem;
}

.checkbox-sale {
	grid-row: 1;
	grid-column: 4;
	align-self: center;
}
.checkbox-buy {
	grid-row: 1;
	grid-column: 5;
	align-self: center;
}

.formField-label {
	max-height: 3.5rem;
}

.filterForm > .tag {
	margin: 0 1rem;
}

.maxPrice-value {
	grid-row: 2;
	grid-column: 2;
}

.minPrice-value {
	grid-row: 2;
	grid-column: 1;
}

.max-price {
	grid-row: 2;
	grid-column: 3;
}
.min-price {
	grid-row: 2;
	grid-column: 1 /3;
}
