@import url(./../../variables.css);

.not-found {
	background-color: var(--blue-grey-color);
	height: 100vh;
	position: relative;
}

.notFound-container {
	display: absolute;
	background-color: var(--little-grey-color);
	position: absolute;

	width: 400px;
	height: 400px;
	top: 50%;
	left: 50%;

	margin: -200px 0 0 -200px;

	border-radius: 50%;
}

.notFound-title {
	font-family: numbersElements;
	font-size: 5rem;
	color: var(--coral-color);
}

.notFound-text {
	font-family: titlesElements;
	font-size: 2rem;
	color: var(--dark-grey-color);
}
